
.ngdialog.ngdialog-theme-custom{
	padding-top: 80px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-content {
	padding: 1.8em 2em;
}

.ngdialog.ngdialog-theme-custom .ngdialog-content .node_img {
	width: 70px;
	height: 70px;
	float: left;
	margin: 0 15px 10px 0;
}

.ngdialog.ngdialog-theme-custom .ngdialog-content .node_name {
	margin-top: 20px;
	float: left;

}


/*! Profile */

.ngdialog.ngdialog-theme-custom-profile .ngdialog-content{
	padding: 0;
	width:700px;
}

/*! Tree Profile */

.ngdialog.ngdialog-theme-custom-profile-tree .ngdialog-content{
	padding: 0;
	width:500px;
}

.ngdialog.ngdialog-theme-custom-profile-tree .ngdialog-content .prof_pic{
	width:100px;
	height:100px;
}

.ngdialog.ngdialog-theme-custom-profile-tree .ngdialog-content .options{
	width: 100%;
	border-top: 1px solid #dddddd;
	background-color: #f5f5f5;
	cursor: pointer;
}

.ngdialog.ngdialog-theme-custom-profile-tree .ngdialog-content .option{
	border-right: 1px solid #dddddd;
	
	padding:20px 0;
}

.ngdialog.ngdialog-theme-custom-profile-tree .ngdialog-content .option:hover{
	background-color: #dddddd;
}

.ngdialog.ngdialog-theme-custom-profile-tree .ngdialog-content .option:last-child {
    border-right: 0;
} 

.ngdialog.ngdialog-theme-custom-profile-tree .ngdialog-content .option .invited {
   color: #cccccc;
} 

.form-setting .help-block{
	margin-bottom: 0px;
}

