
.ngdialog.ngdialog-theme-custom{
	padding-top: 80px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-content {
	padding: 1.8em 2em;
}

.ngdialog.ngdialog-theme-custom .ngdialog-content .node_img {
	width: 70px;
	height: 70px;
	float: left;
	margin: 0 15px 10px 0;
}

.ngdialog.ngdialog-theme-custom .ngdialog-content .node_name {
	margin-top: 20px;
	float: left;

}


/*! Profile */

.ngdialog.ngdialog-theme-custom-profile .ngdialog-content{
	padding: 0;
	width:700px;
}

