
.views {
  margin-top: 100px;
}

.form-group .help-block {
  display: none;
  font-size: 11px;
}
 
.form-group.has-error .help-block {
  display: block;
}

/* Registeration and Login Form */

.userForm .form {
  background: #eee !important;	
  max-width: 380px;
  padding: 15px 35px 15px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1);
}

.userForm .form .form-heading {
	margin-bottom: 30px;
}

.userForm .form .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@include box-sizing(border-box);
	&:focus {
	  z-index: 2;
	}
}

.userForm .form .btn {
	margin-bottom: 20px;
}

.userForm .form input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.userForm .alert{
  margin-top: 15px;
  margin-bottom: 10px;
}

.userForm .or {
  position: relative;
  margin: 20px 0 20px;
  font-weight: bold;
  text-align: center;
}

.userForm .or-span {
    background-color: #eeeeee;
    color: #ababab;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.userForm .or hr {
    border-color: #ababab;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100%;
}

/* Dashboard */

.dashboard {
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-top: 76px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  
}

.dashboard .controls{
   text-align: right;
   padding-right: 10%;
}

/* Map */

#map_canvas {
    margin-top: -50px;
    height: 745px;
    width: 100%;
    border: 1px solid #ccc;
}

/* Create Member */
.create-member {margin-bottom: 30px;}

.create-member .spacer {margin-top: 50px;}

.create-member .btn-file {
  position: relative;
  overflow: hidden;
}
.create-member .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.create-member .actions{
  margin-top: 15px;
}

/* Invite */
.invite .jumbotron{
    background-color: #ffffff;
}

/* Profile */

.pac-container{
  z-index: 10000;
}


.profile .prof_content{
  margin: 20px auto;
  width: 95%;
}

.profile .prof_content .control-label{
  font-size: 17.5px;
  font-weight: bold;
}

.profile .prof_content .control{
  font-size: 18px;
}

.gal img{margin: 5px;}

.profile-img {
  width: 140px;
  height:140px;
  cursor: pointer;
  opacity: 1;
   transition: opacity .25s ease-in;
   -moz-transition: opacity .25s ease-in;
   -webkit-transition: opacity .25s ease-in;
}

.profile-img:hover {
    opacity: 0.8;
}

.prof_upload_left
{
    border-right: 1px solid #dddddd;
    height:250px;
}

.upload-gal .drop-box {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 5px dashed #ddd;
    float: left;
    height: 100px;
    margin-left: 20px;
    padding-top: 25px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.response {margin-top: 20px;}

.center-cropped {
  margin: 5px;
  width: 100px;
  height: 100px;
  overflow:hidden;
  position: relative;
}

.center-cropped img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.center-cropped .tn_overlay{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 100px;
  height: 100px;
  background: #666666;
  opacity: 0.5;
}

.center-cropped .ico {
  display: none;
  color:#ffffff;
  position: absolute;
  top:30%;
  left:32%;
  cursor: pointer;
}

.center-cropped:hover .tn_overlay{
  display: block;
}

.center-cropped:hover .ico{
  display: block;
}

.infowindow img{
  width:100px;
  margin:20px 0;
}

.infowindow .misc{
  padding: 10px;
  border-right: 1px solid #dddddd;
}

.infowindow .content{
  margin: 10px;
}

.infowindow .gap{
  margin: 4px 0;
}

.familyMembers .text {
  margin: 5px 0 13px 0;
}

/* Search Result */
.form-search input {
    box-sizing: border-box;
    height: 100%;
    padding: 12px 14px 13px 13px !important;
}

