
.views {
  margin-top: 100px;
}

/* Registeration and Login Form */

.userForm .form {
  background: #eee !important;	
  max-width: 380px;
  padding: 15px 35px 15px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1);
}

.userForm .form .form-heading {
	margin-bottom: 30px;
}

.userForm .form .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@include box-sizing(border-box);
	&:focus {
	  z-index: 2;
	}
}

.userForm .form .btn {
	margin-bottom: 20px;
}

.userForm .form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.userForm .form input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.userForm .alert{
  margin-top: 15px;
  margin-bottom: 10px;
}

.userForm .or {
  position: relative;
  margin: 20px 0 20px;
  font-weight: bold;
  text-align: center;
}

.userForm .or-span {
    background-color: #eeeeee;
    color: #ababab;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.userForm .or hr {
    border-color: #ababab;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100%;
}

/* Dashboard */

.dashboard{
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-top: 105px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  
}

