
.tree {
	position: relative;
	margin-top: -40px;
}

.tree .window {   
	background-color: #EEEEEF; 
	border: 1px solid #346789;    
    border-radius: 0.5em;    
    box-shadow: 1px 1px 2px #AAAAAA;    
    color: black;   
    height: 4em;   
    position: absolute;    
    width: 4em;  			
	margin: 0 auto; 
}  
		
.tree .windowMale {   
	background-color: #38ACEC; 
	border: 1px solid #346789;    
	border-radius: 0.5em;    
	box-shadow: 1px 1px 2px #AAAAAA;    
	color: black;   
	height: 4em;   
	position: absolute;    
	width: 4em;  			
	margin: 0 auto; 
}  
		
.tree .windowFemale {   
	background-color: #FAAFBE; 
	border: 1px solid #346789;    
	border-radius: 0.5em;    
	box-shadow: 1px 1px 2px #AAAAAA;    
	color: black;   
	height: 4em;   
	position: absolute;    
	width: 4em;  			
	margin: 0 auto; 
}  