<html>
<div class="container">
    <h2>Create ...'s Family Member: {{params.profID}}</h2>
	 
  	<form action="create_member.php" method="post">
	  <div class="nav navbar-nav">
		<li class="dropdown">
        <a href="~/Notary/Index" class="dropdown" data-toggle="dropdown">Notaries <b class="caret"></b></a>
			<ul class="dropdown-menu"> 
			<li><a href="~/Notary/Index"> Notaries</a></li>
			<li><a href="~/Notary/Create"> Notary</a></li>
			</ul>
		</li>
	  </div>
	  
	  <div class="form-group">
		<label for="txtFirstName">First Name</label>
		<input type="text" class="form-control" name="txtFirstName" placeholder="First Name">
	  </div>
	  <div class="form-group">
		<label for="txtLastName">Last Name</label>
		<input type="text" class="form-control" name="txtLastName" placeholder="Last Name">
	  </div>
	  <div class="form-group">
		<label for="txtCountryOfBirth">Country of Birth</label>
		<input type="text" class="form-control" name="txtCountryOfBirth" placeholder="Country of Birth">
	  </div>
	  <div class="form-group">
		<label for="calDOB">Date of Birth</label>
		<input type="text" class="form-control" name="calDOB" placeholder="Date of Birth">
	  </div>
	 
	  <div class="checkbox">
		<label>
		  <input type="checkbox"> Check me out
		</label>
	  </div>
	  
	  <button type="submit" name="btnFather" class="btn btn-default" value="insert" >Add as Father</button>
	  <button type="submit" name="btnMother" class="btn btn-default" name="select" value="select" >Add as Mother</button>
	  <button type="submit" name="btnSister" class="btn btn-default">Add as Sister</button>
	  <button type="submit" name="btnBrother" class="btn btn-default">Add as Brother</button>
	  <button type="submit" name="btnSon" class="btn btn-default">Add as Spouse</button>
	  <button type="submit" name="btnDaughter" class="btn btn-default">Add as Daughter</button>
	  <button type="submit" name="btnSon" class="btn btn-default" disabled>Add as Son</button>
	</form>
			
		
</div>

</html>