
	<!-- dashboard -->
	<div class="container-fluid dashboard">
		<div class="controls">
			<!-- Single button -->
			<div class="btn-group" ng-if="hasShareTree">
			  <button type="button" class="btn btn-outline-inverse dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    <i class="fa fa-sitemap"></i>&nbsp;&nbsp;Shared Trees <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			  	<li><a href="javascript:void(0);" ng-click="changeOwnTree(ownTree)">My tree</a></li>
			  	<li class="divider"></li>
			  	<li ng-repeat="tree in sharetrees">
			  		<a href="javascript:void(0);" ng-click="changeTree(tree)">{{tree.firstName}} {{tree.lastName}} tree</a>
			  	</li>
			  </ul>
			</div>
			<a class="btn btn-outline-inverse" href="#/map"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;View Map</a>
		</div>
		<div class="tree" ng-include="'partials/Tree.php'"> </div>
	</div>



	<script type="text/ng-template" id="userDialogId">
		<div class="ngdialog-message">
			<p>ID: <code>{{member.firstName}}&nbsp;{{member.lastName}}</code></p>
		</div>
		<button class="btn btn-default" ng-click="sendInvite()" ng-if="member.email">Send Invite&nbsp;&nbsp;<i class="fa fa-circle-o-notch fa-spin" ng-show="loading"></i></button>
		<div>{{message}}</div>
	</script>

	<!-- edit forms for profile 
	<script type="text/ng-template" id="userDialogId">
		<div class="ngdialog-message">
			<div class="node_body clearfix">
				<img class="node_img" ng-src="images/icons/icon_{{ngDialogData.gender}}.png" />
				<h4 class="node_name">{{ngDialogData.title}}</h4>
			</div>
			<p>Data passed through Title: <code>{{ngDialogData.title}}</code></p>
			<div class="row">
				<div class="col-xs-6">First name:</div>
				<div class="col-xs-6">Jane</div>
			</div>
			<div class="row">
				<div class="col-xs-6">Last name:</div>
				<div class="col-xs-6">Bishop</div>
			</div>
			<div class="row">
				<div class="col-xs-6">Country of Birthd:</div>
				<div class="col-xs-6">Singapore</div>
			</div>
			<div class="row">
				<div class="col-xs-6">Gender:</div>
				<div class="col-xs-6">{{ngDialogData.gender}}</div>
			</div>
			<br />
			<div class="row mt">
				<div class="col-md-4" style="border:1px solid black" ng-click="openProfile()">Profile</div>
				<div class="col-md-4" style="border:1px solid black" ng-click="openEdit()">Edit</div>
				<div class="col-md-4" style="border:1px solid black">Delete</div>
			</div>
		</div>
	</script>-->

	<!-- edit forms for profile 
	 <script type="text/ng-template" id="editDialogId">
		<div class="ngdialog-message">
			<div class="node_body clearfix">
				<img class="node_img" ng-src="images/icons/icon_{{ngDialogData.gender}}.png" />
				<h4 class="node_name">{{ngDialogData.title}}</h4>
			</div>
			<h3>Edit</h3>
			<p>Data passed through ID: <code>{{ngDialogData.id}}</code></p>
			<p>Data passed through Title: <code>{{ngDialogData.title}}</code></p>
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">First Name</label>
				    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
				    <label for="exampleInputPassword1">Last Name</label>
				    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label>Country of Birth</label>
				    <select class="form-control">
					  <option>Singapore</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
				</div>
				<div class="form-group">
					<label>Gender</label>
					<div class="radio">
					<label class="radio-inline">
					  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
					</label>
					<label class="radio-inline">
					  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
					</label>
					</div>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</script>-->


<!--		<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-secondary"
				ng-dialog="secondDialogId"
				ng-dialog-class="ngdialog-theme-default"
				ng-dialog-controller="SecondModalCtrl"
				ng-dialog-close-previous>Close and open</button>*/
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="openSecond()">Open next</button>
		</div> -->



<!--       <div class="generation">
		  	<div id="e3" class="circleContainer">
		  		<p>Div1</p>
		  	</div>
		  	<div id="e4" class="circleContainer">
		  		<p>Div2</p>
			</div>
		</div> 
		<div class="generation">
			<div id="e1" class="circleContainer">
		    	<p>Div3</p>
		  	</div>
		  	<div id="e2" class="circleContainer">
		    	<p>Div4</p>
		  	</div>
		  	<div id="e5" class="circleContainer">
		    	<p>Div5</p>
		  	</div>
		</div> 

  <!--     <h1>Full Width Layout</h1>
        <p class="lead">The Bootstrap 3 grid is fluid only. This example shows how to use a custom container to create a fixed width layout.</p>
        <p><a class="btn btn-large btn-success" href="http://bootply.com/tagged/bootstrap-3" target="ext">More Examples</a></p>
        <div class="clearfix">
        	
				We will create a family tree using just CSS(3)
				The markup will be simple nested lists
			
		<div id="root">
			<div class="partner">a</div><div class="fmember">b</div>
			<div class="children">
				<div class="family">
					<div class="partner">c</div><div class="fmember">ab1</div>
					<div class="children">
						<div class="partner">f</div><div class="fmember">ab1c1</div>
						<div class="fmember">ab1c2</div>
				</div>
			</div>
			<div class="family">
				<div class="partner">d</div><div class="fmember">ab2</div>
				<div class="children">
					<div class="family">
						<div class="partner">g</div><div class="fmember">ab2d1</div>
						<div class="children">
							<div class="fmember">ab2d1g</div>
						</div>
					</div>
					<div class="fmember">ab2d2</div>
				</div>
			</div>
			<div class="partner">e</div><div class="fmember">ab3</div>
			<div class="fmember">ab4</div>
		</div>
	</div>

		</div> -->

