
	<!-- dashboard -->
	<div class="container-fluid dashboard">
		<div class="controls">
			<!-- Single button -->
			<div class="btn-group" ng-if="hasShareTree">
			  <button type="button" class="btn btn-outline-inverse dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    <i class="fa fa-sitemap"></i>&nbsp;&nbsp;Shared Trees <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			  	<li><a href="javascript:void(0);" ng-click="changeOwnTree(ownTree)">My tree</a></li>
			  	<li class="divider"></li>
			  	<li ng-repeat="tree in sharetrees">
			  		<a href="javascript:void(0);" ng-click="changeTree(tree)">{{tree.firstName}} {{tree.lastName}} tree</a>
			  	</li>
			  </ul>
			</div>
			<a class="btn btn-outline-inverse" href="#/map"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;View Map</a>
		</div>
		<div class="tree" ng-include="'api/v1/Tree.php'"> </div>
	</div>

  <!-- Member Actions -->
  <script type="text/ng-template" id="memberAction">
    <div class="ngdialog-message">
      <div class="panel panel-default">
        <div class="panel-heading">Member Actions</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <img title="profile image" class="img-circle img-responsive prof_pic" ng-src="{{profilePic}}">
             </div>
             <div class="col-md-9">
             	<h3 ng-bind="(fullName | checkFullNameUnknown)"></h3>
             	<p class="text-muted" ng-bind="(member.vitalStatus | vitalStatus)"></p>
             </div>
          </div>
        </div>
        <div>
          <div ng-if="allowAccess">
          	<div class="clearfix options text-center" ng-if="!showEmail()">
              <div ng-if="tOwner">
                <div class="col-md-6 option" ng-click="addMemeber()">
                  <i class="fa fa-plus fa-2x"></i><br />Add member
                </div>
                <div class="col-md-6 option" ng-click="viewProfile()">
                  <i class="fa fa-user fa-2x"></i><br />Profile
                </div>
              </div>
              <div ng-if="!tOwner">
                  <div ng-if="isSpouse">
                		<div class="col-md-6 option" ng-click="viewProfile()">
                			<i class="fa fa-user fa-2x"></i><br />Profile
                		</div>
                		<div class="col-md-6 option" ng-click="deleteProfile()" >
                			<i class="fa fa-trash-o fa-2x"></i><br />Delete
                		</div>
                  </div>
                  <div ng-if="!isSpouse">
                    <div class="col-md-4 option" ng-click="addMemeber()">
                      <i class="fa fa-plus fa-2x"></i><br />Add member
                    </div>
                    <div class="col-md-4 option" ng-click="viewProfile()">
                      <i class="fa fa-user fa-2x"></i><br />Profile
                    </div>
                    <div class="col-md-4 option" ng-click="deleteProfile()" >
                      <i class="fa fa-trash-o fa-2x"></i><br />Delete
                    </div>
                  </div>
              </div>
          	</div>
          	<div class="clearfix options text-center" ng-if="showEmail()">
              <div ng-if="isSpouse">
            		<div class="col-md-4 option" ng-click="viewProfile()">
            			<i class="fa fa-user fa-2x"></i><br />Profile
            		</div>
            		<div class="col-md-4 option" ng-click="deleteProfile()">
            			<i class="fa fa-trash-o fa-2x"></i><br />Delete
            		</div>
            		<div class="col-md-4 option" ng-click="sendInvite()" ng-show="!member.inviteStatus">
    	        		<div ng-hide="loading"><i class="fa fa-envelope-o fa-2x"></i><br />Invite</div>
    	        		<div ng-show="loading && !status"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i><br />Sending</div>
    	        		<div ng-show="success"><i class="fa fa-check fa-2x"></i><br />Sent</div>
    	        		<div ng-show="error"><i class="fa fa-exclamation fa-2x"></i><br />Error</div>
    	        	</div>
    	        	<div class="col-md-4 option text-muted" ng-show="member.inviteStatus">
    	        		<div ng-if="iStatus == 'pending'"><i class="fa fa-envelope-o fa-2x"></i><br />Invited</div>
    	        		<div ng-if="iStatus == 'accepted'"><i class="fa fa-check fa-2x"></i><br />Invite Accepted</div>
    	        		<div ng-if="iStatus == 'rejected'"><i class="fa fa-times fa-2x"></i><br />Invite Rejected</div>
    	        	</div>
              </div>
              <div ng-if="!isSpouse">
                <div class="col-md-3 option" ng-click="addMemeber()">
                  <i class="fa fa-plus fa-2x"></i><br />Add member
                </div>
                <div class="col-md-3 option" ng-click="viewProfile()">
                  <i class="fa fa-user fa-2x"></i><br />Profile
                </div>
                <div class="col-md-3 option" ng-click="deleteProfile()">
                  <i class="fa fa-trash-o fa-2x"></i><br />Delete
                </div>
                <div class="col-md-3 option" ng-click="sendInvite()" ng-show="!member.inviteStatus">
                  <div ng-hide="loading"><i class="fa fa-envelope-o fa-2x"></i><br />Invite</div>
                  <div ng-show="loading && !status"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i><br />Sending</div>
                  <div ng-show="success"><i class="fa fa-check fa-2x"></i><br />Sent</div>
                  <div ng-show="error"><i class="fa fa-exclamation fa-2x"></i><br />Error</div>
                </div>
                <div class="col-md-3 option text-muted" ng-show="member.inviteStatus">
                  <div ng-if="iStatus == 'pending'"><i class="fa fa-envelope-o fa-2x"></i><br />Invited</div>
                  <div ng-if="iStatus == 'accepted'"><i class="fa fa-check fa-2x"></i><br />Invite Accepted</div>
                  <div ng-if="iStatus == 'rejected'"><i class="fa fa-times fa-2x"></i><br />Invite Rejected</div>
                </div>
              </div>
          	</div>
          </div>
          <div ng-if="!allowAccess">
            <div class="clearfix options text-center">
              <div class="col-md-12 option" ng-click="viewProfile()">
                <i class="fa fa-user fa-2x"></i><br />Profile
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  
  <script type="text/javascript" language="JavaScript" src="find5.js"> vera
	</script>
	
<style>
.highlight
{
	background-color: blue;
}
.find_selected
{
	background-color: green;
}
</style>



