

      <div class="container-fluid dashboard">
      	
      	<div style="position: absolute; left: 50%; top:50px;">
        	<div id="treeView" style="position: relative; left: -50%;">
        		<div class="generation" ng-repeat="generation in flowchart.generations" on-last-repeat>
      				<div id="node{{node.id}}" ng-click="openDialog(node.id,node.title)" class="circleContainer" ng-repeat="node in generation.nodes">
      					{{node.title}}
      				</div>
      			</div>
        	</div>
        </div>
      </div>

      <script type="text/ng-template" id="firstDialogId">
		<div class="ngdialog-message">
			<h3>ngDialog template</h3>
			<p ng-show="theme">Test content for <code>{{theme}}</code></p>
			<p>Data passed through ID: <code>{{ngDialogData.id}}</code></p>
			<p>Data passed through Title: <code>{{ngDialogData.title}}</code></p>
			<p ng-show="dialogModel.message">Scope passed through: <code>{{dialogModel.message}}</code></p>
		</div>
	</script>


<!--		<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-secondary"
				ng-dialog="secondDialogId"
				ng-dialog-class="ngdialog-theme-default"
				ng-dialog-controller="SecondModalCtrl"
				ng-dialog-close-previous>Close and open</button>*/
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="openSecond()">Open next</button>
		</div> -->



<!--       <div class="generation">
		  	<div id="e3" class="circleContainer">
		  		<p>Div1</p>
		  	</div>
		  	<div id="e4" class="circleContainer">
		  		<p>Div2</p>
			</div>
		</div> 
		<div class="generation">
			<div id="e1" class="circleContainer">
		    	<p>Div3</p>
		  	</div>
		  	<div id="e2" class="circleContainer">
		    	<p>Div4</p>
		  	</div>
		  	<div id="e5" class="circleContainer">
		    	<p>Div5</p>
		  	</div>
		</div> 

  <!--     <h1>Full Width Layout</h1>
        <p class="lead">The Bootstrap 3 grid is fluid only. This example shows how to use a custom container to create a fixed width layout.</p>
        <p><a class="btn btn-large btn-success" href="http://bootply.com/tagged/bootstrap-3" target="ext">More Examples</a></p>
        <div class="clearfix">
        	
				We will create a family tree using just CSS(3)
				The markup will be simple nested lists
			
		<div id="root">
			<div class="partner">a</div><div class="fmember">b</div>
			<div class="children">
				<div class="family">
					<div class="partner">c</div><div class="fmember">ab1</div>
					<div class="children">
						<div class="partner">f</div><div class="fmember">ab1c1</div>
						<div class="fmember">ab1c2</div>
				</div>
			</div>
			<div class="family">
				<div class="partner">d</div><div class="fmember">ab2</div>
				<div class="children">
					<div class="family">
						<div class="partner">g</div><div class="fmember">ab2d1</div>
						<div class="children">
							<div class="fmember">ab2d1g</div>
						</div>
					</div>
					<div class="fmember">ab2d2</div>
				</div>
			</div>
			<div class="partner">e</div><div class="fmember">ab3</div>
			<div class="fmember">ab4</div>
		</div>
	</div>

		</div> -->

