
<!-- Forget form -->
<div class="container-fluid userForm">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
		<img src="images/ohana_logo_blue_300.png" />
		<form name="resetForm" class="form text-left" novalidate>       
				<h2 class="form-heading text-center">Reset Password</h2>
				<div class="form-group" show-errors='{showSuccess: true}'>
					<input type="email" class="form-control" name="username" placeholder="Email Address" required ng-model="credentials.email" ng-maxlength="50" />
					<p class="help-block" ng-if="resetForm.username.$error.required">Email address is required</p>
					<p class="help-block" ng-if="resetForm.username.$error.email">Enter a valide email</p>
					<p class="help-block" ng-if="resetForm.username.$error.maxlength">Your input is too long</p>
				</div>
				<button id="submit" class="btn btn-lg btn-primary btn-block" ng-click="reset()"><i ng-if="loading" class="fa fa-circle-o-notch fa-spin"></i><span ng-if="loading">&nbsp;&nbsp;</span>Reset My Password</button> 
				<a href="#/login"><u><small>Login</small></u></a><br /></br />
				<div><small>Not a member yet?</small><br />
				<a href="#/signup"><u><small>Sign up now</small></u></a></div>
				<div ng-if="success" class="alert alert-success" ng-bind="success"></div>
				<div ng-if="error" class="alert alert-danger" ng-bind="error"></div>
			</form>
		</div>
	</div>
</div>