<div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Ohana</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="../about.html">About</a>
          </li>
          <li>
            <a href="#/dashboard" ng-if="auth"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;Dashboard</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="auth">
          <form class="navbar-form navbar-left" role="search" ng-if="auth">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="searchStr" placeholder="Search Profile">
            </div>
            <button class="btn btn-default" ng-click="search(searchStr)">Submit</button>
          </form>
          <li class="dropdown" ng-if="auth">
            <a class="dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown">
              <i class="fa fa-user"></i>&nbsp;&nbsp;My Account
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="javascript:void(0);" ng-click="viewProfile()">My Tree Profile</a>
              </li>
              <li>
                <a href="#">Personal Details</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);" ng-click="logout();"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a>
          </li>
        </ul>
      </div>
</div>