
<div class="container target" ng-if="profileExist">
  <hr class="">
  <div class="row">
    <div class="col-sm-10">
      <h1 class="">{{fullName}}</h1>
      <br>
    </div>
    <div class="col-sm-2">
      <a ng-click="uploadProfPic()" class="pull-right">
        <img title="profile image" class="img-circle img-responsive profile-img" ng-src="{{profilePic}}">
      </a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <!--left col
      <ul class="list-group">
        <li class="list-group-item text-muted" >Profile&nbsp;&nbsp;<i class="fa fa-user"></i></li>
        <li class="list-group-item">
          <div><strong class="">Date of Birth</strong></div>
          <div contentEditable="true">{{dob}}</div></li>
        <li class="list-group-item"><div><strong class="">Gender</strong></div>{{gender}}</li>
        <li class="list-group-item"><div><strong class="">Born in</strong></span>{{born}}</li>
      </ul>-->
      <div class="panel panel-default">
        <div class="panel-heading text-muted">Profile&nbsp;&nbsp;<i class="fa fa-user"></i></li></div>
        <div class="panel-body">  
          <div>
            <span><strong class="">Date of Birth</strong></span><spancontentEditable="true">{{dob}}</span>
          </div>
          <div>
            <span><strong class="">Gender</strong></span><span contentEditable="true">{{gender}}</span>
          </div>
          <div>
            <span><strong class="">Born in</strong></span><span contentEditable="true">{{born}}</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Website&nbsp;&nbsp;<i class="fa fa-link"></i></div>
        <div class="panel-body"><a href="http://bootply.com" class="">bootply.com</a></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item text-muted">Activity&nbsp;&nbsp;<i class="fa fa-dashboard"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> 125</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> 13</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> 37</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> 78</li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">  <i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i> 
          <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9" style="" contenteditable="false">
      <div class="panel panel-default">
        <div class="panel-heading">{{fullName}} Bio</div>
        <div class="panel-body"> A long description about me.</div>
      </div>
      <div class="panel panel-default target">
        <div class="panel-heading clearfix">
          Gallery&nbsp;&nbsp;<i class="fa fa-camera-retro"></i>
          <span class="pull-right">
            <button ng-click="uploadGal()" type="button" class="btn btn-default btn-sm"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Photos</button>
          </span>
        </div>
        <div class="panel-body">
          <div class="text-center" ng-show="thumbnails.length == 0">
            <p>There are current no files uploaded for this member!</p>
            <p><i class="fa fa-picture-o" style="font-size: 12em;"></i></p>
          </div>
          <div id="fixed" class="gal" when-scrolled="loadMore()">
               <img class="img-thumbnail img-responsive" ng-src="{{tn.file_tn_dir}}{{tn.rName}}" ng-repeat="tn in thumbnails">
          </div>
        </div>
        </div>
      </div>
  </div>
</div>

<!-- upload Profile Pic -->
  <script type="text/ng-template" id="uploadProfPic" ng-if="profileExist">
    <div class="ngdialog-message">
      <div class="panel panel-default">
        <div class="panel-heading ng-binding">Edit Photo</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8 prof_upload_left">
              <div class="">
                <p>Choose a Photo<br />
                  <small class="text-muted">You can upload a JPEG, GIF, or PNG file (File size limit is 8 MB).</small>
                </p>
                <form name="ppForm">
                  <div class="form-group">
                    <input type="file" ng-file-select ng-model="picFile" name="file" accept="image/*" ng-file-change="generateThumb(picFile[0], $files)">
                    <br />
                    <div class="progress" ng-show="picFile.progress >= 0">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{picFile.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( picFile.progress + '%' ) }">{{picFile.progress}}%</div>
                    </div> 
                    <span ng-show="picFile.result">Upload Successful</span>
                  </div>
                </form>
                <br />
                <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <p>Preview</p>
              <img ng-show="picFile[0].dataUrl != null" ng-src="{{picFile[0].dataUrl}}" class="img-circle img-responsive" style="width:140px; height: 140px;">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button ng-disabled="!ppForm.$valid" ng-click="uploadPic(picFile)" type="button" class="btn btn-primary">Submit</button>
              <button ng-click="closeThisDialog()" type="button" class="btn btn-warning">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- Upload Gallery -->
  <script type="text/ng-template" id="uploadGal" ng-if="profileExist">
    <div class="ngdialog-message upload-gal">
      <div class="panel panel-default">
        <div class="panel-heading ng-binding">Add Photos</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <p>Choose Photos<br />
                <small class="text-muted">You can upload a JPEG, GIF, or PNG file (File size limit is 2 MB).</small>
              </p>
              <div ng-file-drop ng-file-select ng-model="files" ng-model-rejected="rejFiles" drag-over-class="{accept:'dragover',reject:'dragover-err', delay:100}" class="drop-box" ng-multiple="true" allow-dir="true" ng-accept="'image/*,application/pdf'">
                Drop Images or PDFs<div>or click to select</div>
              </div>
              <div ng-no-file-drop class="drop-box">File Farg&Drop not supported on your browser</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul ng-show="rejFiles.length > 0" class="response">
                <li class="sel-file" ng-repeat="f in rejFiles">
                  Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                </li>
              </ul>
              <div ng-show="files.length > 0" class="response">
                <table class="table table-striped" role="presentation">
                <tr ng-repeat="f in files">
                  <td width="15%"> 
                    <div class="center-cropped">
                      <img ng-src="{{f.dataUrl}}" />
                      <div class="tn_overlay"></div>  
                      <div class="ico">
                          <i ng-click="remove(f)" class="fa fa-minus-circle fa-3x ico"></i>
                      </div>
                    </div>
                  </td>
                  <td width="65%"> 
                    <small class="text-muted">{{f.name}}&nbsp;&nbsp;{{f.size | bytes}}</small>
                    <div class="progress" ng-show="f.progress >= 0">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( f.progress + '%' ) }">{{f.progress}}%</div>
                    </div> 
                    <div ng-show="f.errorMsg != null"><span class="label label-danger" style="padding-top: 0.4em;">Error</span>&nbsp;&nbsp;{{f.errorMsg}}</div>     
                  </td>
                  <td width="20%"> 
                    <button class="btn btn-danger" ng-click="f.upload.abort();f.upload.aborted=true" ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted"><i ng-click="remove(f)" class="fa fa-ban"></i>&nbsp;&nbsp;Abort</button>
                  </td>
                <tr>
                </table>
              </div>
              <br/>
              <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button ng-click="upload()" type="button" class="btn btn-primary">Submit</button>
              <button ng-click="closeThisDialog()" type="button" class="btn btn-warning">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>