
<div class="container-fluid userForm">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
			<img src="images/ohana_logo_blue_300.png" />
			<form name="signupForm" class="form text-left" novalidate>       
				<h2 class="form-heading text-center">Register for free</h2>
				<div class="form-group" show-errors='{showSuccess: true}'>
					<input type="text" ng-pattern="/^[a-z0-9]+$/i" class="form-control" name="firstname" placeholder="First Name" ng-model="credentials.fname" ng-maxlength="35" required />
					<p class="help-block" ng-if="signupForm.firstname.$error.required">First name is required</p>
					<p class="help-block" ng-if="signupForm.firstname.$error.maxlength">Your input is too long</p>
					<p class="help-block" ng-if="signupForm.firstname.$error.pattern">Invalid characters</p>
				</div>
				<div class="form-group" show-errors='{showSuccess: true}'>
					<input type="text" ng-pattern="/^[a-z0-9]+$/i" class="form-control" name="lastname" placeholder="Last Name" ng-model="credentials.lname" ng-maxlength="50" required />
					<p class="help-block" ng-if="signupForm.lastname.$error.required">Last name is required</p>
					<p class="help-block" ng-if="signupForm.lastname.$error.maxlength">Your input is too long</p>
					<p class="help-block" ng-if="signupForm.firstname.$error.pattern">Invalid characters</p>
				</div>
				<div class="form-group" show-errors='{showSuccess: true}'>
					<input type="email" class="form-control" name="email" placeholder="Email Address" ng-model="credentials.email" ng-maxlength="50" required />
					<p class="help-block" ng-if="signupForm.email.$error.required">Please enter a valid email</p>
					<p class="help-block" ng-if="signupForm.email.$error.email">Please enter a valid email</p>
					<p class="help-block" ng-if="signupForm.email.$error.maxlength">Your input is too long</p>
				</div>
				<div class="form-group" show-errors='{showSuccess: true}'>
					<input type="password" class="form-control" name="password" placeholder="Password" required ng-model="credentials.password"/>
					<p class="help-block" ng-if="signupForm.password.$error.required">Please enter a password</p>
				</div>
				<div class="form-group" show-errors='{showSuccess: true}'>
					<input type="password" class="form-control" name='confirm_password' placeholder='Re-enter Password' required ng-model='credentials.password_verify' data-password-verify="credentials.password" />
					<p class="help-block" ng-if="signupForm.confirm_password.$error.passwordVerify">Password are not equal</p>
				</div>
				<div class="form-group" show-errors='{showSuccess: true}'>
					<label class="radio-inline">
						<input type="radio" name="genderOption" ng-model="credentials.gender" value="M" ng-required="!credentials.gender"> Male
					</label>
					<label class="radio-inline">
						<input type="radio" name="genderOption" ng-model="credentials.gender" value="F" ng-required="!credentials.gender"> Female
					</label>
					<p class="help-block" ng-if="signupForm.gender.$error.required">Please select a gender</p>
				</div>
				<div class="form-group">
					<div class="checkbox">
				    	<label>
				    		<input type="checkbox" ng-model="credentials.privacy" ng-init="credentials.privacy=1" ng-true-value="0" ng-false-value="1"> Make this a private tree?
				    	</label>
					</div>
				</div>
				<button id="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()"><i ng-if="loading" class="fa fa-circle-o-notch fa-spin"></i><span ng-if="loading">&nbsp;&nbsp;</span>Signup</button> 
				<div><small>Registered?</small><br />
				<a href="#/login"><u><small>Sign in now</small></u></a></div>
				<div ng-show="message" class="alert alert-danger">{{message}}</div> 
			</form>
		</div>
	</div>
</div>